.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:aqua ;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5rem;
    font-size: 15px;
    width: 50%;
}